body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: hidden;
}

.poga{
    width: 500px;
    height: 500px;
    border-radius: 100%;
    background-color: cornflowerblue;
    font-size: 40px;
    color: white;
    font-weight: bold;
    border: none;
}

.poga:hover{
    opacity: 0.8;
    transition: 0.3s;
}

.poga:active{
    background-color: rgb(63, 18, 106);
}